Scene(
    objects: [
        (
            color: Srgba((red:0.5,green:0.5,blue:0.5,alpha:1.0)),
            particles: "block.pts",
        ),
        (
            color: Srgba((red:0.5,green:0.36,blue:0.5,alpha:0.21)),
            particles: "ball.pts",
            position: (0.0, 0.0, 10.0),
            velocity: (0.0, 0.0, -1.0),
        )
    ],
    constants: (),
)