Scene(
    objects: [
        Object(
            color: Srgba((red:0.5,green:0.5,blue:0.5,alpha:1.0)),
            particles: [0],
        ),
        Object(
            color: Srgba((red:0.7,green:0.7,blue:0.7,alpha:1.0)),
            particles: [1],
        ),
    ],
    particles: [
        Particle(
            position: (0.0, 0.0, 0.0),
            velocity: (0.0, 0.0, 0.0),
            bond_start: 0,
            bond_count: 0,
            fixed: false,
        ),
        Particle(
            position: (2.0, 0.0, 0.0),
            velocity: (-1.0, 0.0, 0.0),
            bond_start: 0,
            bond_count: 0,
            fixed: false,
        )
    ],
    bonds: []
)